* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: rgb(39, 60, 83);
  color: rgb(63, 180, 196);
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.container {
  width: 100%;
  height: 60%;
  position: relative;
  border: 1px solid white;
  box-shadow: 0 0 3px rgb(0, 212, 250);
  flex: 1;
}

.chart-interaction {
  border: 1px solid white;
  width: 100%;
  background-color: rgb(14, 31, 56);
  box-shadow: 0 0 3px rgb(0, 212, 250);
}

.chart-interaction button {
  border: 1px solid white;
  background: rgb(18, 19, 37);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  height: 40px;
}

.pause-button {
  width: 80%;
}

.pause-button:hover {
  background: rgb(50, 122, 155);
}

.reset-button {
  width: 20%;
}

.reset-button:hover {
  background: rgb(50, 122, 155);
}

.speed-slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 30px;
}

.speed-slider input {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  appearance: none;
  background: rgb(18, 19, 37);
  outline: none;
  border-radius: 10px;
  height: 10px;
}

.speed-slider input::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  background: rgb(50, 122, 155);
  cursor: pointer;
}

.params-container input {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  appearance: none;
  background: rgb(18, 19, 37);
  outline: none;
  border-radius: 10px;
  height: 10px;
}

.params-container input::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
  background: rgb(50, 122, 155);
  cursor: pointer;
}

.model-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  border: 1px solid white;
  width: 100%;
  background-color: rgb(14, 31, 56);
  box-shadow: 0 0 3px rgb(0, 212, 250);
}

.params-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.model-selection {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 20px;
  border-right: 1px solid rgb(0, 212, 250);
}

.model-select {
  width: 100%;
  height: 35px;
  border: 1px solid white;
  background: rgb(18, 19, 37);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px;
}

.model-select:hover {
  background: rgb(50, 122, 155);
}

.model-select:focus {
  outline: none;
}

.model-select option {
  background: rgb(18, 19, 37);
  color: white;
}

.model-select option:hover {
  background: rgb(50, 122, 155);
}

.model-select option:focus {
  outline: none;
}

.model-select option:active {
  background: rgb(50, 122, 155);
}

.watermark {
  position: absolute;
  bottom: 22%;
  left: 7%;
  z-index: 1;
  color: rgba(41, 105, 105, 0.5);
  font-size: 2rem;
  user-select: none;
}

.parameter-name {
  text-transform: capitalize;
}
